<div id="maintenance">
	<div class="logo-wrapper">
		<img src="assets/img/kmikz-motorsport-logo-colored.svg" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col d-flex justify-content-center align-items-center">
				<div class="social-links">
					<ul>
						<li><a href="https://www.facebook.com/kmikz.fr/" class="btn text-white border-0 rounded-0 btn-gradient" target="_blank"><i class="fab fa-facebook-f fa-fw"></i></a></li>
						<li><a href="https://www.instagram.com/kmikz_esport/" class="btn text-white border-0 rounded-0 btn-gradient" target="_blank"><i class="fab fa-instagram fa-fw"></i></a></li>
						<li><a href="https://twitter.com/KMiKZeSport" class="btn text-white border-0 rounded-0 btn-gradient" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
						<li><a href="https://www.twitch.tv/KMiKZ_eSport" class="btn text-white border-0 rounded-0 btn-gradient" target="_blank"><i class="fab fa-twitch fa-fw"></i></a></li>
						<li><a href="https://www.youtube.com/user/KmiKzeSport" class="btn text-white border-0 rounded-0 btn-gradient" target="_blank"><i class="fab fa-youtube fa-fw"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
