<form class="d-inline" method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cet élément ? Cette action est irréversible !');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-outline-danger btn-sm m-1"><i class="fal fa-trash-alt"></i></button>
</form>
